<div class="page-wrapper">
  <div class="button-holder">
      <button class="btn btn-success" (click)="success('This is a success alert notification!!!')">Success</button>
      <button class="btn btn-danger" (click)="error('This is an error alert notification!!!')">Error</button>
      <button class="btn btn-primary" (click)="information('This is an information alert notification!!!')">Information</button>
      <button class="btn btn-warning" (click)="warning('This is a warning alert notification!!!')">Warning</button>
  </div>
</div>