<div class="page-wrapper">
  <div class="button-holder">
      <button id="success-alert" class="btn btn-lg btn-success" (click)="callAlertService('This is a success alert notification!!!')">Success</button>
      <button id="error-alert" class="btn btn-lg btn-danger" (click)="callAlertService('This is an error alert notification!!!')">Error</button>
      <button id="information-alert" class="btn btn-lg btn-primary" (click)="callAlertService('This is an inform alert notification!!!')">Information</button>
      <button id="warning-alert" class="btn btn-lg btn-warning" (click)="callAlertService('This is a warning alert notification!!!')">Warning</button>
  </div>
</div>