p
  margin: 0
  padding: 0
.wrapper
  width: 100%
  padding-left: 10px
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  position: absolute
  right: 0
  color: #fff
  z-index: 999
  margin-top: 10px
  .alert-header
    padding-top: 5px
    padding-bottom: 5px
  .is-info
    background: #007bff
  .is-danger
    background: #dc3545
  .is-success
    background: #28a745
  .is-warning
    background: #ffc107
    color: #000