p
  margin: 0
  padding: 0
.wrapper
  width: 100%
  padding-left: 10px
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  .alert-header
    padding-top: 5px
    padding-bottom: 5px
  .notification 
    color: #ffffff
    font-size: 1.5em
    padding: 5px
  .is-info
    background: #fec600
  .is-danger
    background: #f34336
  .is-success
    background: #7fae1b